<style>
  div #header-octicon {
    margin: -4em 0 2em 0;
    position: relative;
    text-align: right;
    z-index: 100;
  }

  div #header-octicon svg {
    fill: #000000;
  }

  div #header-octicon svg:hover {
    fill: #0366d6;
  }

  div.markdown-body #logo-services {
    float: right;
    margin: 0 0 0 50px;
  }

  @media screen and (max-width: 768px) {
    div.markdown-body #logo-services img {
      height: auto;
      max-width: 250px;
      width: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    div.markdown-body #logo-services {
      float: none;
      margin: 10px 0 15px 0;
      text-align: center;
    }

    div.markdown-body #logo-services img {
      max-width: 300px;
    }
  }
</style>
