name: Chart

on:
  pull_request:
    paths:
      - application/*/Chart.*
      - application/*/README.md.gotmpl
      - application/*/values.yaml
      - library/*/Chart.*
      - library/*/README.md.gotmpl
      - library/*/values.yaml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  checks: write
  contents: write
  issues: write

jobs:
  update:
    name: Updates
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup helm
        uses: azure/setup-helm@v4
        with:
          version: v3.19.1

      - name: Setup helm linter
        uses: helm/chart-testing-action@v2

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install node dependencies
        run: npm install glob handlebars js-yaml

      - name: Configure repository
        uses: actions/github-script@v7
        with:
          script: |
            const { Workflow } = require('./.github/actions/handlers');
            const workflow = new Workflow({ github, context, core, exec });
            await workflow.configureRepository();

      - name: Install helm-docs
        uses: actions/github-script@v7
        with:
          script: |
            const { Workflow } = require('./.github/actions/handlers');
            const workflow = new Workflow({ github, context, core, exec });
            await workflow.installHelmDocs('1.14.2');

      - name: Update repository charts
        uses: actions/github-script@v7
        with:
          script: |
            const { Workflow } = require('./.github/actions/handlers');
            const workflow = new Workflow({ github, context, core, exec });
            await workflow.updateCharts();

      - name: Report workflow issue
        uses: actions/github-script@v7
        if: always()
        with:
          script: |
            const { Workflow } = require('./.github/actions/handlers');
            const workflow = new Workflow({ github, context, core, exec });
            await workflow.reportIssue();
