<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
</head>

<body>
  <div class="container-lg px-3 my-5 markdown-body">
    <h1>{{ site.title }} Charts</h1>

    {{ content }}

    {% if site.github.private != true and site.github.license %}
    <div class="footer border-top border-gray-light mt-5 pt-3 text-gray">
      <div class="d-flex flex-justify-between">
        <div class="text-left">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.title }}</div>
        <div class="text-right">Last updated: {{ site.time | date: '%B %d, %Y' }}</div>
      </div>
    </div>
    {% endif %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/5.0.0/anchor.min.js"
    integrity="sha512-byAcNWVEzFfu+tZItctr+WIMUJvpzT2kokkqcBq+VsrM3OrC5Aj9E2gh+hHpU0XNA3wDmX4sDbV5/nkhvTrj4w=="
    crossorigin="anonymous"></script>
  <script>anchors.add();</script>
</body>

</html>
